* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    padding: 40px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    width: 400px;
}

img {
    display: block;
    margin-inline: auto;
    border-radius: 50%;
    width: 88px;
    height: 88px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
}

.location {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    margin-bottom: 24px;
}

p {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

ul {
    list-style-position: inside;
    padding: 0px;
    margin: 0px;
}

li {
    margin: 14px;
}

li::marker {
    content: none;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
}

a:hover {
    color: hsl(0, 0%, 20%);
    background-color: hsl(75, 94%, 57%);
}

.attribution {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    font-size: 14px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.attribution a {
    background-color: hsl(0, 0%, 8%);
    display: inline;
}